<!--
    Author: Iksang Yoo
    Team: Everyday Survey
    Course: COMP229 - Fall 2020
    Purpose: Team Project - Survey Site  
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <center><img src="/Assets/images/logo.jpg" width="175" height="175" alt="everydaylogo"/></center>
      <center><h1 class="display-4">Welcome to the Everyday Survey Site</h1></center> 
      
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




